ul li a{
    color: rgb(98, 232, 104);
    font-size: 20px;
    text-decoration: none;
}

/* Child combinator selector: */

ol > li{
    background-color: rgb(106, 198, 255);
}

/* Adjancent Combinator selector: */

h3+p{
    border-top: 2px solid rgb(255, 242, 59);
}

/* general sibling combinator selector: */

div~p{
    color: green;
    font-size: 30px;
}
